:host {
  flex-basis: 300px;
  position: relative;
  border-radius: 5px;
}

:host.alternate-style {
  flex-basis: 100%;
}

.card-body{
  padding: 10px;
}

.btns{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.btn{
  text-align: center;
  padding: 5px;
}

.btn-primary{
  color: white;
  cursor: pointer;
}

.btn-danger{
  color: white;
  cursor: pointer;
}

.btn-danger:hover{
  color: #333333;
}

.btn-success{
  background: #28a745;
  color: white;
  cursor: pointer;
}

.btn-success:hover{
  background: #218838;
}

.toast{
  position: absolute;
  background: #70aaff;
  color: white;
  padding: 10px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: 2;
  left: 0;
  top: 0;
}

.toast-btns{
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.toast-btns > .btn{
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: rgb(0 109 255);
}

.toast-btns > .btn-danger{
  background-color: #dc3545;
}

.toast-btns > .btn:hover{
  background-color: #0069d9;
}

.toast-btns > .btn-danger:hover{
  background-color: #c71526;
}

.category{
  padding: 5px 10px;
  background: #007fff;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  width: max-content;
}

.date{
  color: #6c757d;
  font-size: 0.8rem;
}

.price{
  font-size: 1.5rem;
  font-weight: bold;
}

.error{
  color: red;
  font-size: 0.9em;
  position: absolute;
  transform: translateY(-100%);
}


/* Admin button styles */
.admin-controls {
  margin-bottom: 0.5rem;
}

.admin-controls .btn {
  margin-right: 0.5rem;
}

.card-body.approved {
  color: white;
  background-color: #49b44b;
}

.card-body.rejected {
  color: white;
  background-color: #ff4242;
}

.card-body.pending {
  color: white;
  background-color: #333;
}

.card-body.pending.highlight {
  animation: highlightAnimationPending 1s;
}

.card-body.approved.highlight {
  animation: highlightAnimationApproved 1s;
}

.card-body.rejected.highlight {
  animation: highlightAnimationRejected 1s;
}

@keyframes highlightAnimationApproved {
  from {
    background-color: #1c3586;
  }
  to {
    background-color: #49b44b;
  }
}

@keyframes highlightAnimationRejected {
  from {
    background-color: #1c3586;
  }
  to {
    background-color: #ff4242;
  }
}

@keyframes highlightAnimationPending {
  from {
    background-color: #1c3586;
  }
  to {
    background-color: #333;
  }
}
