<header>
  <h1>Expenses App</h1>
  <div *ngIf="authService.userPayload() as user; else guest">
    <span>Welcome, {{ user.name }}!</span>
    <div class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add</a>
      <a routerLink="/expenses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">History</a>
      <a (click)="logout()">Log Out</a>
    </div>
  </div>
  <ng-template #guest>
    <div>
      <div class="nav">
        <a routerLink="/auth" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Log In</a>
      </div>
    </div>
  </ng-template>
</header>
<main>
  <router-outlet></router-outlet>
</main>
