<label>Category</label>
<app-category-options
  [ngModel]="expense.category"
  (categorySelected)="onCategorySelected($event)"
></app-category-options>
<div *ngIf="category?.invalid && category?.touched" class="error">
  <small *ngIf="category?.hasError('required')">Category is required.</small>
  <small *ngIf="category?.hasError('minlength')">Minimum 3 characters.</small>
</div>

<label for="description">Description</label>
<input
  type="text"
  class="form-control"
  id="description"
  [formControl]="description"
/>
<div *ngIf="description?.invalid && description?.touched" class="error">
  <small *ngIf="description?.hasError('required')">Description is required.</small>
  <small *ngIf="description?.hasError('minlength')">Minimum 3 characters.</small>
</div>

<label for="amount">Amount</label>
<input
  type="number"
  class="form-control"
  id="amount"
  [formControl]="amount"
/>
<div *ngIf="amount?.invalid && amount?.touched" class="error">
  <small *ngIf="amount?.hasError('required')">Amount is required.</small>
  <small *ngIf="amount?.hasError('min')">Amount must be greater than 0.</small>
</div>

<label for="date">Date</label>
<input
  type="date"
  class="form-control"
  id="date"
  [formControl]="date"
/>
<div *ngIf="date?.invalid && date?.touched" class="error">
  <small *ngIf="date?.hasError('required')">Date is required.</small>
</div>

<button type="submit" class="btn btn-primary" (click)="onSubmit()">
  Submit
</button>
